<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h2>Welcome, {}</h2>
    <h2>{}</h2>
    <p>Added by: {}</p>
    <p>Added on: {}</p>
    <p>Last updated on: {}</p>
    <p>Description: {}</p>
    <form action='' method='POST'>
        {% csrf_token %}
        <input type='submit' value='Update'>
    </form>
    <form action='' method='POST'>
        {% csrf_token %}
        <input type='submit' value='Delete'>
    </form>

</body>

</html>